/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.streak-box {
    display: flex;
}

.streak-emoji {
    font-size: 24px;
    margin-right: 5px;
}
