{% extends "base.html" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">My Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'data_insights' %}">Data Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tracker' %}">Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo_list' %}">To-Do List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'slideshow' %}">Tutorial</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  