{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>Project Management</title>
    <link rel="stylesheet" href="styles.css">
    {%load static%}
   
</head>

<body>
    {%block content%}
    <div class="Projects-and-tasks-container">
        <div class="sidebar">
            <h1>My Projects</h1>
            <input type="text" id="project-name-input" placeholder="Project name">
            <button class="new-project-button" id='new-project'>New Project</button>
            <ul class="project-list" id="project-list">
                <li data-project="Project 1">Project 1</li>
                <li data-project="Project 2">Project 2</li>
                <li data-project="Project 3">Project 3</li>
                <!-- Add more project items -->
            </ul>
            
        </div>
    <div class="content tasks">
        <!-- Content of the main area -->
        <div class="project-details">
            <h1 id="project-title"></h1>
            <ul id="task-list">
                
            </ul>
            <div id="new-task-button-location">
            <!-- <button id="new-task-button">New Task</button> -->
        </div>
        </div>
        <h1 style="color: white; margin-top: 15px">AI Assistant</h1>
        <div class="content AI-Assistant">
           
        </div>
    </div>

    
</div>

    {%load static%}
    <link rel="stylesheet" href="{% static 'depnowAppMVC/projects_and_tasks.css' %}">
    <script src="{% static 'depnowAppMVC/projects_and_tasks.js'%}"></script>

    {%endblock content%}

</body>

</html>