{%extends "tracker.html"%}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {%block Tracker_content%}
    <div class="stopwatch">
        <h2>Stopwatch</h2>
        <p id="stopwatch-display">00:00:00</p>
        <button onclick="startStopwatch()">Start</button>
        <button onclick="stopStopwatch()">Stop</button>
        <button onclick="resetStopwatch()">Reset</button>
    </div>
    {%endblock %}
    
    {%block endFocusSessionButton%}
        {{block.super}}
    {%endblock endFocusSessionButton%}
</body>
</html>
